
//
// VARIABLES
//

// Colors
$blue: #0D5ec0; /* was #4183C4; changed for better contrast, was flagged by WAVE plugin" */
$redGDS: #d4351c; /* added in case we needed, good contrast against white, used for error message in GDS design system */

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
